<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046345405083-9qk7s6b180nbhefv377rlosa4cu5ecf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046345405083-9qk7s6b180nbhefv377rlosa4cu5ecf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBTlXJ51JHc05N0OavJYltv4_SWimLUSZc</string>
	<key>GCM_SENDER_ID</key>
	<string>1046345405083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signinTemplate</string>
	<key>PROJECT_ID</key>
	<string>signintemplate-601ae</string>
	<key>STORAGE_BUCKET</key>
	<string>signintemplate-601ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046345405083:ios:0ada91c6b5b3ae02f9ac3e</string>
</dict>
</plist>